@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Permanent+Marker&family=Playpen+Sans:wght@400;700&family=Roboto:wght@300;400;500;700&family=Sometype+Mono&display=swap");

/* SHOW COMPUTER SHIPS (FOR TESTING) */
/* .board .grid-square.has-ship {
  background-color: rgb(185, 186, 190);
} */

html {
  font-family: "Sometype Mono", monospace;
}

body,
h1,
h2,
button {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

button#start-game {
  width: 125px;
  border-radius: 6px;
}

.boards-container {
  position: relative;
  display: flex;
  gap: 40px;
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.grid-square {
  border: 1px solid black;
  box-sizing: content-box;
}

.grid-square:hover {
  background-color: rgb(219, 219, 219);
}

.board#player .grid-square.has-ship,
.board#player .grid-square.ghost-ship {
  background-color: rgb(185, 186, 190);
}

.board#player .grid-square.has-ship.hit,
.board#computer .grid-square.has-ship.hit {
  background-color: rgb(214, 0, 0);
}

.board .grid-square.miss {
  background-color: rgb(0, 53, 200);
}

#game-over-container {
  width: 300px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 24px;
  box-shadow: 2px 4px 8px gray;
}

#game-over-container button#play-again {
  cursor: pointer;
  width: 125px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(208 210 212);
  font-size: 16px;
}
